<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title><%= title %></title>
</head>
<body>
  <header>
    <h1><%= title %></h1>
    <a href="/new">Add Record</a>
    <p>Sort by: artist album genre year label random</p>
  </header>
  <ul class="records-container">
    <% records.forEach(record => { %>
      <li class="record-container">
        <%= record.artist %> <br>
        <%= record.album %> <br>
        <%= record.genre %> <br>
        <%= record.year %> <br>
        <%= record.label %> <br>
        <form action="/delete" method="POST">
          <input type="hidden" name="id" value="<%= record.id %>">
          <button type="submit">DELETE</button>
        </form>
        <br>
      </li>
    <% }) %>
  </ul>
</body>
</html>